<div class="row">
  <% flash.each do |name, message| %>
    <div data-alert class="alert-box success round">
      <%= message %>
      <a href="#" class="close">&times;</a>
    </div>
  <% end %>
</div>