div.card.card-add-button ng-click="addCard()"
  = icon('plus', '', class: 'plus')


div(class="card sick clearfix {{card.color}}" ng-repeat="card in cards")
  div(ng-include src="'/cards/partials/' + card.card_type")


/ - for card in @cards do
/   - if card.card_type == 'allergy'
/     = render partial: 'allergy', locals: {card: card}
/   - elsif card.card_type == 'immunisation'
/     = render partial: 'immunisation', locals: {card: card}
/   - else
/     = render partial: 'sick', locals: {card: card}