<header>
  <div class="container">
    <h1><span class="name">James</span> <span class="bar"></span> <span class="subtitle">medical book</span></h1>
  </div>
</header>

<div class="container">
  
  <% @cards.each do |card| %>
    <% if card.title.casecmp('allergy') == 0 %>
      <%= render partial: 'allergy', locals: {card: card} %>
    <% elsif card.title.casecmp('immunisation') == 0 %>
      <%= render partial: 'immunisation', locals: {card: card} %>
    <% else %>
      <%= render partial: 'sick', locals: {card: card} %>
    <% end %>
  <% end %>


</div>
