<header>
  <div class="container">
    <h1><span class="name">James</span> <span class="bar"></span> <span class="subtitle">medical book</span></h1>
  </div>
</header>

<div class="container">
  <div class="row">
    <%= render partial: 'edit_card' %>
  </div>

  <%= render partial: 'cards' %>
</div>
