<div class="text-center">
  <h1 class="text-center">Welcome to MediBook</h1>
  <a href="/auth/facebook" class="button">Login with Facebook &nbsp;<i class="fa fa-facebook-square fa-lg  "></i></a>
</div>