@import 'variables';
@import 'typography';
@import 'cards/mixins';
@import 'edit-card';


.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}



body {
  background: url(bg.png);
}

.container {
  width: ($card-width + 14px) * 4;
  margin-left: auto;
  margin-right: auto;
}

@media all and (min-width: 1600px) {
  .container {
    width: ($card-width + 14px) * 5;
  }
}

header {
  background-color: #83D0D6;
  margin-bottom: 20px;
}


$card-padding-tb: 12px;
$card-padding-lr: 20px;


.card {
  padding: $card-padding-tb $card-padding-lr;
  margin-right: $card-gutter-hor;
  margin-bottom: $card-gutter-ver;
  background: url(card-bg.png);
  width: $card-width;
  height: $card-height;
  border-top: ($card-height * 0.017) solid $card-orange-color;  
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  vertical-align: top;
  display: inline-block;

  

  &.orange {
    @include card-color($card-orange-color);
  }

  &.blue {
    @include card-color($card-blue-color);
  }

  &.green {
    @include card-color($card-green-color);
  }

  &.red {
    @include card-color($card-red-color);
  }

  &.sick {
    @include card-shadow;
  }

  &.allergy {
    border-top-color: $card-allergy-border-top-color;
    background: $card-allergy-bg-color;
    @include card-shadow;
  }

  &.immunisation {
    border-top-color: $card-allergy-border-top-color;
    background: $card-immunisation-bg-color;
    @include card-shadow;
  }

  .date-container {
    text-align: right;
    position: absolute;
    top: $card-padding-tb;
    right: $card-padding-lr;
  }

  .symptoms {
    display: inline-block;

    .symptom {
      display: inline-block;
    }
  }

  &.allergy {
    .time {
      display: inline-block;
      border-left: 1px solid #333;
      padding-left: 0.6em;
    }
  }

  .medications {
    margin-top: 2em;
  }

  &.immunisation {
    .weight-height {
      position: absolute;
      left: $card-padding-lr;
      bottom: $card-padding-tb;
      display: inline-block;

      .weight {
        margin-right: 0.6em;
      }
    }
  }

  .doctor {
    position: absolute;
    right: $card-padding-lr;
    bottom: $card-padding-tb;
    display: inline-block;
  }
}
